[Desktop Entry]
Name=Winbox
Type=Application
Terminal=false
Exec=wine /usr/bin/winbox.exe
Icon=/etc/winbox/winbox.ico
Comment=Winbox to Manage Mikrotik Routers
Encoding=UTF-8
Categories=GNOME;GTK;Network;RemoteAccess;
X-Desktop-File-Install-Version=0.30
Name[en_US]=winbox
