[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WinBox
Comment=Routing the world!
Exec=wine /usr/bin/winbox.exe
Icon=$HOME/.local/share/icons/winbox.ico
StartupWMClass=winbox.exe
Categories=Networking;
